*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color:#ccc;
}
html,body,#root,.warp{
    width: 100%;
    height: 100%;
}
.warp{
    background: url("../img/img1.png") no-repeat;
    background-size: 100% 100%;

    >.statr{
        width: 14%;
        background: skyblue;
        height: 60px;
        position: absolute;
        right: 21%;
        bottom: 9.8%;
        border-radius: 5px;
        color:#Fff;
        text-align: center;
        line-height: 60px;
    }
    >.login{
        position: absolute;
        background: #Fff;
        border-radius: 5px;
        width: 6%;
        height: 40px;
        right: 20.3%;
        text-align: center;
        line-height: 40px;
        top:2%;
    }
    >.register{
        position: absolute;
        background: skyblue;
        color:#fff;
        border-radius: 5px;
        width: 6.5%;
        height: 42px;
        right: 12.5%;
        text-align: center;
        line-height: 40px;
        top:2%;
    }
}
.web{
    width: 100%;
    height: 100%;
    background: url("../img/img2.jpg");
    background-size: 100% 100%;

    .login,.register{
        position: absolute;
        top: 23.5%;
        right: 11%;
        width: 33%;
        background: rgba(255, 255, 255,1);
        height: 63%;
        padding: 25px;
        p{
            display: flex;
            justify-content: space-between;
            padding: 13px 17px;
            input,.btn{
                width: 65%;
                height: 30px;
            }
        }
        .btn{
            background: skyblue;
            color:#fff;
            text-align: center;
            cursor: pointer;
        }
        .reg{
            color:skyblue;
            cursor: pointer;
        }
    }
}
.togoweb{
    width: 100%;
    height: 100%;
    display: flex;
    .left{
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #333;

        a,p{
            display: flex;
            width: 100%;
            height: 40px;
            align-items: center;
            justify-content: center;
            border-bottom: 1px #666 solid;
        }
        p{
            height: 60px;
            color:#ccc;
        }
    }
}
.togoweb>.right{
    width: 150px;
    height: 100%;
}
.togoweb>.center{
    flex:1;
    .bottom{
        width: 100%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        >div{
            width: 50%;
            height: 50%;
            padding: 10px;
            >p{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                padding: 0 10px;
                .size{
                    font-size: 30px;
                    color:#999;
                }
                input{
                    width: 90%;
                    height: 100%;
                    border-style: solid;
                    border-width: 1px;
                }
            }
            .con{
                span{
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    border:1px red solid;
                    border-radius: 50%;
                }
            }
        }
    }
}